:root {
    --font-family: 'Inter', sans-serif;
    --color-primary: #8C7AE6;
    --color-primary-light: #8c7ae6e6;
    --color-bg: #F6F7FB;
    --color-text: #2E2E2E;

    --color-gray: #64748B;
    --color-light-purple: #D8CFF7;
    --color-border: #E0E7FF;
    --color-purple-bg: #F4F1FD;
    --color-red: #EF4444;
    --color-dark-green: #166534;
    --color-light-green: #dcfce7;
    --color-light-yellow: #fef9c3;
    --color-dark-yellow: #854d0e;
    --color-blue: #A5B4FC;
    --color-white: #FFFFFF;
    --color-purple-light: #EDEBF9;  
    --color-purple-soft:   #F4F1FD;
    --color-tag-bg: #dae0fc;        
    --color-tag-text: #4338ca;

    --color-light-purple-30: #d8cff74d;

    --font-small: 0.875rem;     /* 14px */
    --font-base: 1rem;          /* 16px */
    --font-medium: 1.125rem;    /* 18px */
    --font-large: 1.5rem;       /* 24px */
    --font-xlarge: 2rem;        /* 32px */
}

body {
    font-family: var(--font-family);
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-size: var(--font-xlarge);
    font-weight: bold;
    color: var(--color-text);
}

h2 {
    font-size: var(--font-large);
    font-weight: bold;
    color: var(--color-text);
}

h3 {
    font-size: var(--font-medium);
    font-weight: 600;
    color: var(--color-text);
}

p {
    font-size: var(--font-base);
    color: var(--color-text);
}

.gray-text {
    color: var(--color-gray);
}